body {
  font-family: MicroSoft Yahei, Sans-Serif;
}
.bg-grey {
  background-color: #f8f8f8;
  margin-top: -20px;
}
.la-menu {
  width: 220px;
  padding-top: 12px;
  padding-bottom: 0;
}
.la-menu .la-message-item {
  line-height: 20px;
  padding: 0 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.la-menu .la-message-item p {
  font-size: 12px;
  margin: 0;
}
.la-menu .la-message-item:hover .p1 {
  color: #ff0084;
}
.la-menu .la-message-item .b1 {
  margin-left: 5px;
}
.la-menu .la-message-item .b2 {
  color: #555555;
}
.la-menu .la-message-item .p2 {
  color: #cccccc;
}
.la-message-more {
  background-color: #f7f7f7;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  height: 30px;
}
.la-message {
  position: absolute;
  width: auto;
  height: 12px;
  display: block;
  border-radius: 6px;
  color: #fff;
  background-color: #fd0317;
  padding: 1px 8px;
  font-size: 10px;
  line-height: 10px;
  top: 10px;
  right: 0px;
}
.la-ani {
  background-color: #ffffff;
  margin-top: 10px;
  padding: 20px;
  height: 340px;
  overflow: hidden;
}
.la-ani-band {
  width: 25%;
  height: 100%;
  overflow: hidden;
  float: left;
}
.la-ani-band .la-ani-image {
  width: 100%;
  height: auto;
}
.la-ani-main {
  width: 75%;
  height: 100%;
  padding-left: 20px;
  float: left;
  font-size: 12px;
  color: #999999;
}
.la-ani-main .la-ani-tit {
  color: #139ff7;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}
.la-ani-main .la-ani-update {
  font-size: 14px;
  margin-bottom: 20px;
}
.la-ani-main .la-ani-desc {
  font-size: 12px;
  margin-bottom: 20px;
}
.la-ani-main .la-ani-desc p {
  line-height: 20px;
}
.la-ani-main .la-ani-into {
  height: 60px;
  line-height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.la-ani-main .la-ani-tw {
  line-height: 100%;
}
.la-ani-main .la-ani-tw .la-ani-tip {
  font-size: 12px;
  font-weight: normal;
  color: #139ff7;
  display: block;
  border-radius: 2px;
  border: 1px solid #00A6C7;
  padding: 0 5px;
}
.la-ani-main p {
  margin: 0;
}
.la-ani-main span {
  display: inline-block;
  margin-right: 20px;
}
.la-fj {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
}
.la-fj .la-fj-ul {
  padding: 0;
  list-style-type: none;
  min-height: 400px;
}
.la-fj .la-fj-li {
  display: block;
  line-height: 30px;
  color: #333333;
  background-color: #f7f7fc;
  padding: 5px 20px;
  margin-bottom: 20px;
}
.la-fj .la-fj-li .la-fj-tit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.la-fj .la-fj-li p {
  font-size: 13px;
  margin-bottom: 0;
}
.la-like-spe {
  background-color: #fa0899;
  color: #ffffff;
}
.la-idata-more {
  display: block;
  font-size: 13px;
  color: #fd4c5d;
  line-height: 26px;
}
.la-idata-more:hover {
  text-decoration: none;
  color: #fd7d84;
}
.la-idata-container {
  padding-left: 15px;
  width: 100%;
  clear: both;
  overflow: hidden;
  margin-right: -20px;
}
.la-idata-container .la-idata-item {
  width: 120px;
  margin-right: 18px;
  margin-bottom: 10px;
  height: 205px;
  overflow: hidden;
}
.la-idata-container .la-idata-item .la-idata-pic {
  display: block;
  margin: 0 auto;
  height: 150px;
  overflow: hidden;
}
.la-idata-container .la-idata-item .la-idata-image {
  width: auto;
  height: 100%;
}
.la-idata-container .la-idata-item p {
  font-size: 12px;
  margin-bottom: 0;
}
.la-idata-container .la-idata-item .la-idata-tit {
  font-size: 12px;
  line-height: 15px;
  margin-top: 8px;
  height: 30px;
}
.la-idata-container .la-idata-item .la-idata-sub {
  font-size: 12px;
  color: #c0c0c0;
}
.fa-btn {
  margin-right: 6px;
}
.la-time {
  min-width: 260px;
}
.la-timeboard {
  line-height: 30px;
}
.la-timeboard .la-timeboard-nav {
  font-size: 12px;
  width: 37px;
}
.la-timeboard .la-timeboard-nav a {
  padding: 2px 4px;
  border-radius: 0;
}
.la-timeboard-content {
  list-style-type: none;
  padding: 10px 5px;
}
.la-timeboard-content li {
  position: relative;
  line-height: 30px;
  font-size: 12px;
  color: #555555;
}
.la-timeboard-content .la-timeboard-desc {
  position: absolute;
  display: block;
  color: #999999;
  top: 0;
  right: 0;
}
.la-player-body {
  width: 100%;
  height: 600px;
  margin-bottom: 20px;
}
.la-player-footer {
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  padding: 0 15px;
  margin-bottom: 20px;
}
.la-player-footer .la-co-span {
  display: block;
  width: 100px;
  padding: 15px 0 15px 20px;
}
.la-player-footer .la-co-span .sp1 {
  display: block;
  font-size: 12px;
  color: #999999;
  line-height: 1.2;
}
.la-player-footer .la-co-span .sp2 {
  font-size: 14px;
  color: #555;
  font-weight: bold;
  line-height: 1.8;
}
.la-player-list {
  padding: 0;
  margin-top: 10px;
}
.la-pit {
  border: 1px solid #eeeeee;
  border-radius: 2px;
  width: 130px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  padding: 0 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.la-pit .la-pit-t {
  font-size: 12px;
  color: #333333;
}
.la-player-t h3 {
  margin-top: 10px;
}
.la-player-t .la-player-ts {
  color: #bbbbbb;
  font-size: 12px;
  margin-bottom: 8px;
}
.footer {
  background-color: #f6f9fa;
}
.footer .foot-warpper {
  padding: 20px 0;
}
.footer p {
  font-size: 12px;
}
.la-admin-select {
  display: inline-block;
  width: 40%;
}

/*# sourceMappingURL=app.css.map */
